<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title> Home </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/CSS_for_Textbox.css') }}">
   </head>
   
   <body>
      <header>
         <div class="container">
            <h3 class="logo"> NetworX Tool Automation</h3>
            <strong>
               <nav>
                  <ul class="menu">
                     <li><a href="{{ url_for('home') }}">Home</a></li>
                     <li><a href="{{ url_for('about') }}">About</a></li>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>

      <b> NetworX Tool is written in Python ver 2.7  </b>
      <p> This tool is to help network engineer > can spend longer time with Family :) </p>
      <p> Let this Automation machine works for you </p>	
  
      <p>*********</p>
		
	
      <p> Developed by sm@devel </p>
		
	<div class="wrapper">
	   <div class="header">
	 	<h3>** Main Menu **</h3>
	   </div>

	   <div class="body">
	      <div class="border">

	        <form action = "{{ url_for('cli') }}" method = "POST">
		<div class="leftbox">	
		   <p>Show Config - Select CLI</p>
		   <br>
		
		      <select name="web_show_cmd">
			 <option value=" "> </option>
		         <option value="sh ver">show version</option>
		         <option value="sh ip int br">show ip int br</option>
		         <option value="sh running">show run</option>
		      </select>
		
		   <p>&nbsp;</p>
		   <br>
		   <br>
			
		
			<input type="submit" value="submit">
		  </div> 
		</form>
		
		

		<form action = "{{ url_for('upload') }}" method="POST" enctype=multipart/form-data>
		<div class="middlebox">	
			<p>Upload File</p>
			<p>&nbsp;</p>
    
			<center>
		
      			<input type=file name="web_upload_file">
      			<input type=submit value=Upload>
    		</form>
			</center>
			<p>&nbsp;</p>

		<form action = "{{ url_for('show_read_file') }}" method="POST" enctype=multipart/form-data>
			<p>read File and show Config </p>
			<input type=submit name="read_file" value="submit">
		</form>
		</div>			




		<form action = "{{ url_for('cli2') }}" method = "POST">
		<div class="rightbox">
		   <p>Show Config - Type CLI</p></br>
                       <input type = "text" placeholder="Type CLI", name = "web_show_cli" autofocus /> 
								
		   <p>&nbsp;</p>
		   <br>
		   <br>
		   <br>
		   <br>
		
			<input type="submit" value="submit">
		</div>
		</form>



		</div>

			<div class="footer">
				<marquee scrollamount="2" behavior="alternate"> <h3> NetworX Tool </h3></marquee>
			</div>
		</div>
		</div>
		<br>

		<p> 4.Load CSV and Print </p>
		<form class="" action="/data_csv" method="POST">
			<center>
			<input type="file" name="csvfile" value="">
			<input type="submit" name="" value="submit">
		</form>	
		<p>*********</p>
		
	
   </body>
</html>
