<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title> Home </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
	  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/CSS_for_Textbox.css') }}">
   </head>
   
   <body>
      <header>
         <div class="container">
            <h1 class="logo">NetworX Tool Automation</h1>
            <strong>
               <nav>
                  <ul class="menu">
                     <li><a href="{{ url_for('home') }}">Home</a></li>
                     <li><a href="{{ url_for('about') }}">About</a></li>
                  </ul>
               </nav>
            </strong>
         </div>
      </header>
	  
	    <b> NetworX Tool is using Flask Framework </b>
		<p> It's written in Python ver 2.7 </p>
		<p> This tool is to help network engineer to spend much longer time with Family </p>
		<p> Let the machine works for you </p>
		<br>
		
		<b> Testing the variables and printing the same page</b>
		<p> 1.Simple Variable </p>
		<p> *Developed by, var > {{ user.username }}</p>
		<p> *var > {{ comment2.content2 }}</p>
		<p>*********</p>
		
		<p> 2.Dictionary Variable </p>
		{% for comment in comments %}
        <div>
			<p>*{{ comment.learning.subject }} description: <b>{{ comment.content }}</b>
			</p>
		</div>
        {% endfor %}	  
		<p>*********</p>
		
		<p> 3.Checkbox </p>
		<form action="/data_checkbox" method="POST">
			West <input type="checkbox" value="1" name="mycheckbox">
			East <input type="checkbox" value="2" name="mycheckbox">
			North <input type="checkbox" value="3" name="mycheckbox">
		<input type="submit" value="submit">
		</form>
		<p>*********</p>
		

		<b> Testing the variables and printing the NEW page</b>

		<p> 1.Show Variable input and Value </p>
		<b> How old are you ?<b>
		<form method="POST" action="/send">
			<div class="form-group">
				<input ="test" name="age">
			</div>
			<input class="btn btn-primary" type="submit" value="submit">
		</form>	
		<p>*********</p>
		
		<p> 2.Multiple Menu in one window </p>
		
		<div class="wrapper">
			<div class="header">
				<h1>Main Menu</h1>
			</div>

			<div class="body">
				<div class="border">
					<form action = "{{ url_for('OrderConfirmation') }}" method = "POST">

					<div class="leftbox">
						<p>Switch Model</p></br><input type = "text" placeholder="Enter Switch Model", name = "Customer" autofocus /> 
						<p>Router Model</p></br><input type = "text" placeholder="Enter Router Model", name = "hotel" /></br> 
						<p>Wireless Model</p></br><input type="text" name="curry" placeholder="Enter Wireless Model" size="15" maxlength="15"><br>  		
					</div>

					<div class="middlebox">	
						<p>Select the starter</p>
						<p>&nbsp;</p>
    
						<center>
							<select name="starter">
								<option value="pakoda">pakoda</option>
								<option value="veg rolls">veg rolls</option>
								<option value="paneer">paneer</option>
							</select>
						</center>
						<p>&nbsp;</p>
					</div>	

							<div class="rightbox">
			<p><input name="status" type="radio" value="Fry" checked="checked"/>Fry</p><br>
			<p><input name="status" type="radio" value="Gravy"/>Gravy</p> 
		</div>
		<p>&nbsp;</p>
	
					<div class="middlebox">	
						<p>Select the Table Number</p>
						<center>
							<select size="5" name="tablenumber" >
								<option selected>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
								<option>7</option>
								<option>8</option>
								<option>9</option>
							</select>
						</center>
					</div>
					<p>&nbsp;</p>
	

					<div class="middlebox">
						<center>
							<input name="IceCream" type="checkbox" value="IceCream" checked/>Ice Cream</center>
						<p>&nbsp;</p>
					</div> 
					<p>&nbsp;</p>
	
					<div class="rightbox">
						<p>Main Course</p>	
						<center>
							<select size="5" name="maincourse" multiple="multiple">
								<option selected>Biryani</option>
								<option>Pulao</option>
								<option>Fried Rice</option>
								<option>Tomoto Rice</option>
								<option>Curd Rice</option>
								<option>Butter Nons</option>
								<option>Roti</option>
							</select>
						</center>
					</div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>

	
				<center>
					<input type="submit" value="submit">
				</center>
				</form>
				<p>&nbsp;</p>  
			</div>

			<div class="footer">
				<marquee scrollamount="2" behavior="alternate"> <h3> NetworX Tool </h3></marquee>
			</div>
		</div>
		</div>
		
		<p> 4.Load CSV and Print </p>
		<form class="" action="/data_csv" method="POST">
			<input type="file" name="csvfile" value="">
			<input type="submit" name="" value="submit">
		</form>	
		<p>*********</p>
		
	
   </body>
</html>
