<!doctype html>
<html>

<head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='CSS_for_Textbox.css') }}">
 <link href="CSS_for_Textbox.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="wrapper">
	<div class="header">
		<h1>Select the Menu online</h1>
	</div>

<div class="body">
	<div class="border">
	<form action = "{{ url_for('OrderConfirmation') }}" method = "POST">

		<div class="leftbox">
			<p>Customer Name</p></br><input type = "text" placeholder="Enter Customer Name", name = "Customer" autofocus /> 
			<p>Hotel Name</p></br><input type = "text" placeholder="Enter Hotel Name", name = "hotel" /></br> 
			<p>Curry Name</p></br><input type="text" name="curry" placeholder="curry Name" size="15" maxlength="15"><br>  		
		</div>

		<div class="middlebox">	
			<p>Select the starter</p>
			<p>&nbsp;</p>
    
			<center>
				<select name="starter">
					<option value="pakoda">pakoda</option>
					<option value="veg rolls">veg rolls</option>
					<option value="paneer">paneer</option>
				</select>
			</center>
			<p>&nbsp;</p>
		</div>	

		<div class="rightbox">
			<p><input name="status" type="radio" value="Fry" checked="checked"/>Fry</p><br>
			<p><input name="status" type="radio" value="Gravy"/>Gravy</p> 
		</div>
		<p>&nbsp;</p>
	
		<div class="middlebox">	
			<p>Select the Table Number</p>
			<center>
				<select size="5" name="tablenumber" >
					<option selected>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
					<option>6</option>
					<option>7</option>
					<option>8</option>
					<option>9</option>
				</select>
			</center>
		</div>
		<p>&nbsp;</p>
	

		<div class="middlebox">
			<center><input name="IceCream" type="checkbox" value="IceCream" checked/>Ice Cream</center>
			<p>&nbsp;</p>
 
		</div> 
		<p>&nbsp;</p>
	
	</div>
	
		<div class="rightbox">
		<p>Main Course</p>	
		<center>
			<select size="5" name="maincourse" multiple="multiple">
				<option selected>Biryani</option>
				<option>Pulao</option>
				<option>Fried Rice</option>
				<option>Tomoto Rice</option>
				<option>Curd Rice</option>
				<option>Butter Nons</option>
				<option>Roti</option>
			</select>
		</center>
	</div>
	<p>&nbsp;</p>
	<p>&nbsp;</p>

	
		<center>
			<input type="submit" value="submit">
		</center>
	</form>
	<p>&nbsp;</p>  
	</div>

	<div class="footer">
		<marquee scrollamount="2" behavior="alternate"> <h1>www.Tricks12345.com</h1></marquee>
	</div>
</div>
      
</body>
</html>